&i2c6 {
    tfa9874_smartpa@34 {
        compatible = "nxp,tfa9874";
        reg = <0x34>;
        reset-gpio = <&pio 139 0>;
        irq-gpio = <&pio 32 0>;
        status = "okay";
    };
};
