/* tfa9874 Smart PA */
&smartpakit {
    chip_vendor = <1>;
    chip_model = "tfa9874";
    misc_rw_permission_enable;
    status = "okay";
};

&i2c6 {
    tfa9874_smartpa@34 {
        compatible = "nxp,tfa9874";
        reg = <0x34>;
        reset-gpio = <&pio 127 0>;
        irq-gpio = <&pio 109 0>;
        status = "okay";
    };

    tfa9874_smartpa@35 {
        compatible = "nxp,tfa9874";
        reg = <0x35>;
        reset-gpio = <&pio 30 0>;
        irq-gpio = <&pio 31 0>;
        status = "okay";
    };
};
/* tfa9874 Smart PA End */
